.base
{
	color: black;
}

.matching
{
	color: gray;
}

.ins
{
	color: black;
	background: #bbffbb;
}

.del
{
	color: black;
	background: #ffbbbb;
}

.noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
