.match, .textdiff span {
	color: gray;
}

.ins, ins {
	color: black;
	background: #bbffbb;
}

.del, del {
	color: black;
	background: #ffbbbb;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
