<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="diffDemo">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>angular-diff-match-patch</title>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.css">
	<link rel="stylesheet" href="demo.css">
	<style>
		body md-content.md-default-theme {
			background-color: #f7f7f7;
		}

		md-card {
			background-color: white;
		}

		.inputBox {
			height: 180px;
		}
	</style>
</head>
<body layout="column" layout-fill ng-controller="diffCtrl">

	<!--[if lte IE 7]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-animate.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-aria.js"></script>
	<script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.js"></script>
	<script src="//neil.fraser.name/software/diff_match_patch/svn/trunk/javascript/diff_match_patch.js"></script>
	<script src="angular-diff-match-patch.js"></script>
	<script>

		/**
		 * Most of this plunkr module is from the Angular documentation (https://docs.angularjs.org/js/docs.js)
		 */
		var manifest =
		{
		  "name": "angular-diff-match-patch",
		  "files": [
		    "index.html",
		    "angular-diff-match-patch.js",
		    "demo.css"
		  ]
		};

		var plunkr = angular.module('plunkr', []);
		plunkr.factory('formPostData', ['$document', function($document) {
			return function(url, fields) {
			/**
			 * Form previously posted to target="_blank", but pop-up blockers were causing this to not work.
			 * If a user chose to bypass pop-up blocker one time and click the link, they would arrive at
			 * a new default plnkr, not a plnkr with the desired template.
			 */
			var form = angular.element('<form style="display: none;" method="post" action="' + url + '"></form>');
			angular.forEach(fields, function(value, name) {
			  var input = angular.element('<input type="hidden" name="' +  name + '">');
			  input.attr('value', value);
			  form.append(input);
			});
			$document.find('body').append(form);
			form[0].submit();
			form.remove();
			};
		}])
		.factory('openPlunkr', ['formPostData', '$http', '$q', function(formPostData, $http, $q) {
		  return function() {
	        var filePromises = [];

	        angular.forEach(manifest.files, function(filename) {
	          filePromises.push($http.get(filename, { transformResponse: [] })
	            .then(function(response) {
	              return {
	                name: filename,
	                content: response.data
	              };
	            }));
	        });
	        return $q.all(filePromises)
	        .then(function(files) {
		        var postData = {};

		        angular.forEach(files, function(file) {
		          postData['files[' + file.name + ']'] = file.content;
		        });

		        postData['tags[0]'] = "angularjs";
		        postData['tags[1]'] = "example";
		        postData.private = true;
		        postData.description = 'angular-diff-match-patch';

		        formPostData('http://plnkr.co/edit/?p=preview', postData);
		    })
		  };
		}])

		/**
		 * Actual demo app
		 */
		var app = angular.module('diffDemo', ['plunkr','ngAnimate','ngMaterial','diff-match-patch']);
		app.controller('diffCtrl', ['openPlunkr', '$scope', function(openPlunkr, $scope) {
			$scope.left = ["I am the very model of a modern Major-General,",
						   "I've information vegetable, animal, and mineral,",
						   "I know the kings of England, and I quote the fights historical,",
						   "From Marathon to Waterloo, in order categorical."].join('\n');

			$scope.right = ["I am the very model of a cartoon individual,",
						    "My animation's comical, unusual, and whimsical,",
						    "I know the kings of England, and I quote the fights historical,",
						    "From wicked puns and stupid jokes to anvils that drop on your head."].join('\n');

			$scope.openPlunkr = openPlunkr;
		}]);
	</script>

	<md-toolbar>
      <h2 class="md-toolbar-tools" layout="row">
        <span>angular-diff-match-patch</span>
        <md-button class="md-accent" ng-click="openPlunkr()">Edit in Plunker</md-button>
        <md-button class="md-accent" href="https://github.com/amweiss/angular-diff-match-patch">Fork me on Github</md-button>
      </h2>
	</md-toolbar>

	<md-content flex layout-padding>
		<div flex layout="column">
			<div flex flex layout="column" layout-gt-md="row" layout-padding>
				<md-card flex><textarea layout-fill class="inputBox" ng-model="left"></textarea></md-card>
				<md-card flex><textarea layout-fill class="inputBox" ng-model="right"></textarea></md-card>
			</div>
			<div flex layout="column" layout-gt-md="row">
				<md-card flex>
					<h2>diff</h2>
					<pre class="textdiff" diff left-obj="left" right-obj="right"></pre>
				</md-card>
				<md-card flex>
					<h2>processingDiff</h2>
					<pre class="textdiff" processing-diff left-obj="left" right-obj="right"></pre>
				</md-card>
			</div>
			<div flex layout="column" layout-gt-md="row">
				<md-card flex>
					<h2>semanticDiff</h2>
					<pre class="textdiff" semantic-diff left-obj="left" right-obj="right"></pre>
				</md-card>
				<md-card flex>
					<h2>lineDiff</h2>
					<pre class="textdiff" line-diff left-obj="left" right-obj="right"></pre>
				</md-card>
			</div>
		</div>
	</md-content>
</body>
