<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="diffDemo">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>angular-diff-match-patch</title>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
  <link rel="icon" type="image/x-icon" href="https://angularjs.org/favicon.ico">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
  <script src="//neil.fraser.name/software/diff_match_patch/svn/trunk/javascript/diff_match_patch.js"></script>
  <script src="angular-diff-match-patch.js"></script>
  <style>
    body md-content {
      background-color: #f7f7f7;
    }

    md-card-content pre {
      overflow: auto
    }

    .inputBox {
      height: 100px;
    }

    .match,
    .textdiff span {
      color: gray;
    }

    .ins,
    ins {
      color: black;
      background: #bbffbb;
    }

    .del,
    del {
      color: black;
      background: #ffbbbb;
    }

    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  </style>
</head>

<body layout="column" flex ng-controller="diffCtrl">
  <script>
    var app = angular.module('diffDemo', ['ngMaterial', 'diff-match-patch']);
    app.config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('indigo')
        .accentPalette('blue');
    });

    app.controller('diffCtrl', ['$scope', function($scope) {
      $scope.left = ['I am the very model of a modern Major-General,',
        'I\'ve information vegetable, animal, and mineral,',
        'I know the kings of England, and I quote the fights historical,',
        'From Marathon to Waterloo, in order categorical.'
      ].join('\n');

      $scope.right = ['I am the very model of a cartoon individual,',
        'My animation\'s comical, unusual, and whimsical,',
        'I know the kings of England, and I quote the fights historical,',
        'From wicked puns and stupid jokes to anvils that drop on your head.'
      ].join('\n');

      $scope.options = {
        editCost: 4,
        interLineDiff: true,
        ignoreTrailingNewLines: true,
        attrs: {
          insert: {
            'data-attr': 'insert',
            'class': 'insertion'
          },
          delete: {
            'data-attr': 'delete'
          },
          equal: {
            'data-attr': 'equal'
          }
        }
      };
    }]);
  </script>

  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
      <span>angular-diff-match-patch</span>
      <md-button class="md-icon-button" href="https://github.com/amweiss/angular-diff-match-patch" aria-label="Fork me on Github">
        <span class="octicon octicon-mark-github"></span>
      </md-button>
      <md-button class="md-icon-button" href="https://codepen.io/amweiss/pen/grXNPm" aria-label="Open in Codepen">
        <span class="octicon octicon-pencil"></span>
      </md-button>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
    <div flex layout="column">
      <div flex layout="column" layout-gt-md="row">
        <md-card flex>
          <md-card-content>
            <textarea layout-fill class="inputBox" ng-model="left"></textarea>
          </md-card-content>
        </md-card>
        <md-card flex>
          <md-card-content>
            <textarea layout-fill class="inputBox" ng-model="right"></textarea>
          </md-card-content>
        </md-card>
      </div>
      <div flex layout="column" layout-gt-md="row">
        <md-card flex>
          <md-card-content>
            <h2>diff</h2>
            <pre class="textdiff" diff left-obj="left" right-obj="right"></pre>
          </md-card-content>
        </md-card>
        <md-card flex>
          <md-card-content>
            <div layout="row">
              <h2>processingDiff</h2>
              <span flex></span>
              <md-input-container>
                <label>editCost</label><input type="number" step="1" name="editCost" ng-model="options.editCost" min="1"
                  max="99999">
              </md-input-container>
            </div>
            <pre class="textdiff" processing-diff left-obj="left" right-obj="right" options="options"></pre>
          </md-card-content>
        </md-card>
      </div>
      <div flex layout="column" layout-gt-md="row">
        <md-card flex>
          <md-card-content>
            <h2>semanticDiff (with custom attributes)</h2>
            <pre class="textdiff" semantic-diff left-obj="left" right-obj="right" options="options"></pre>
          </md-card-content>
        </md-card>
        <md-card flex>
          <md-card-content>
            <div layout="row">
              <h2>lineDiff</h2>
              <span flex></span>
              <md-input-container>
                <md-checkbox name="interLineDiff" ng-model="options.interLineDiff">interLineDiff</md-checkbox>
              </md-input-container>
              <md-input-container>
                <md-checkbox name="ignoreTrailingNewLines" ng-model="options.ignoreTrailingNewLines">ignoreTrailingNewLines</md-checkbox>
              </md-input-container>
            </div>
            <pre class="textdiff" line-diff left-obj="left" right-obj="right" options="options"></pre>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-content>
</body>