version: 2
jobs:
  test:
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - checkout
      - run:
          name: Install packages
          command: yarn install
      - run:
          name: Run tests
          command: yarn test
      - run:
          name: Submit coverage report
          command: bash <(curl -s https://codecov.io/bash) -r amweiss/angular-diff-match-patch
      - store_test_results:
          path: ./test/results/junit
      - store_artifacts:
          path: ./coverage
      - persist_to_workspace:
          root: ./
          paths:
            - package.json
            - ./*.js

  deploy:
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Set NPM token
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - deploy:
          name: NPM Publish
          command: |
            if [ ! -z "$CIRCLE_TAG" ];
              then npm publish;
              else echo " No tag found, no attempt to publish to npm. ";
            fi

workflows:
  version: 2
  test-and-deploy:
    jobs:
      - test:
          filters:  # required since `deploy` has tag filters AND requires `build`
            tags:
              only: /.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
                only: /^v.*/
            branches:
                ignore: /.*/

