version: 2
executorType: docker
containerInfo:
  - image: kkarczmarczyk/node-yarn:latest
stages:
  build:
    workDir: ~/angular-diff-match-patch
    steps:
      - run:
          name: Set NPM token
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - checkout
      - run:
          name: Install packages
          command: yarn install
      - run:
          name: Run tests
          command: yarn test
      - run:
          name: Submit coverage report
          command: bash <(curl -s https://codecov.io/bash) -r amweiss/angular-diff-match-patch
      - store_test_results:
          path: ./test/results
      - store_artifacts:
          path: ./coverage
          destination: build
      - deploy:
          name: NPM Publish
          command: |
            if [ ! -z "${CIRCLE_TAG}" ] && [ "${CIRCLE_BRANCH}" == "master" ];
              then npm publish "${CIRCLE_TAG}";
              else echo " CIRCLE_TAG is '$CIRCLE_TAG' and CIRCLE_BRANCH is '$CIRCLE_BRANCH' ";
            fi